<div class="container">
  <div class="">
 	  <div class="" style="">

	 		<h2>User info</h2>
	 		<% if @user.profile_image != nil %>
	          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
	        <% else %>
	          <%= image_tag 'no_image_square', style: "height: 150px" %>
	        <% end %>

	 		<table class="">
	 			<tbody>
	 				<tr>
	 				  <td>name</td>
	 				  <td><%= @user.name %></td>
	 				</tr>
	 				<tr>
	 					<td>Introduction</td>
	 					<td><%= @user.introduction %></td>
	 				</tr>
	 			</tbody>
	 		</table>

	    <% if current_user.id == @user.id %>
	      <%= link_to(edit_user_path(current_user.id), class: "") do %>
			    <span class="">edit</span>
	      <% end %>
	    <% end %>


	    <h1>New book</h1>
	      <%= form_for(@book) do |f| %>
				  <p>Title</p>
				  <%= f.text_field :title , class: ""%>
				  <p>opinion</p>
				  <%= f.text_area :body, class: ""%>
				  <br>
				  <%= f.submit 'Create Book', class: "" %>
	      <% end %>

    </div>

	  <div class="">
	    <h1>Users</h1>

    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th><P>image</P></th>
    				<th><P>name</P></th>
    				<th><P>show</P></th>
    			</tr>
    		</thead>
    		<tbody>
    			<% @users.each do |user| %>

    			<tr class="new-table">
    				<td><span>
              <% if user.profile_image != nil %>
                <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image_square.jpg", size:'50x50' %>
              <% else %>
                <%= image_tag 'no_image_square.jpg', style: "height: 50px" %>
              <% end %>
            </span></td>
    				<td><span><%= user.name %></span></td>
    				<td><span><%= link_to "show",user_path(user) %></span></td>
    			</tr>
    			<% end %>

    		</tbody>
    	</table>
	  </div>
  </div>
</div>

