<body>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h1 class="title">Books</h1>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <td colspan="3"></td>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <tr class="item">
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td class="option">
          <ul>
            <li class="item-list"><%= link_to "Show", book_path(book.id) %></li>
            <li class="item-list"><%= link_to "Edit", edit_book_path(book.id) %></li>
            <li class="item-list"><%= link_to 'Destroy', destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>


  <h2 class="new-book">New Book</h2>

  <div class="alert-box">
    <% if @book.errors.any? %>
      <div class="alert-warning">
        <div class="alert-title">
          Error
        </div>
        <div>
          <% @book.errors.full_messages.each do |message| %>
            <div class="alert-message">・<%= message %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="create-box">
    <%= form_with model: @book, url:'/books', local:true do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Body</p>
      <%= f.text_area :body %>
      <p>
        <%= f.submit "Create Book" %>
      </p>
    <% end %>
  </div>

</body>
