<div class="">

  <h1>Editing Book</h1>

  <div class="error-message">
    <div class="alert alert-warning">
    	<% if @book.errors.any? %>
        <ul>
        	<p>error</p>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

    <%= form_for(@book) do |f| %>
      <p>Title</p>
      <%= f.text_field :title , class: "edit-title"%>
      <p>Opinion</p>
      <%= f.text_area :body , class: "edit-body"%>
      <%= f.submit "Update Book" %>
    <% end %>

  <p>
    <%= link_to "Show", book_path %> |
    <a href="/books">Back</a>
  </p>

</div>